node_modules
.env
.env.*
!.env.example
*.log
.vscode
.ds_store
.next
.vercel
*.webm
trajectories/*
# keep .gitkeep though:
!.gitkeep
playwright-report
test-results
tests/successfulTests*
.aider*
Pipfile

dist